set default=0
set timeout=3

menuentry 'GateKeeper Auto Install (USB)' {
    linux    /install.amd/vmlinuz \
             priority=critical \
             preseed/file=/cdrom/preseed.cfg \
             preseed/interactive=false \
             preseed/early_command="sleep 3; for d in /dev/sr* /dev/scd* /dev/hd*; do mount -t iso9660 -o ro $d /cdrom 2>/dev/null && break; done; for d in /dev/sd[a-z] /dev/sd[a-z][0-9]; do mount -t iso9660 -o ro $d /cdrom 2>/dev/null && break; done; true" \
             net.ifnames=0 biosdevname=0 \
             quiet loglevel=3 ---
    initrd   /install.amd/initrd.gz
}

menuentry 'GateKeeper Install (Debug)' {
    linux    /install.amd/vmlinuz \
             priority=low \
             preseed/file=/cdrom/preseed.cfg \
             net.ifnames=0 biosdevname=0 ---
    initrd   /install.amd/initrd.gz
}
