set default=0
set timeout=3

menuentry 'GateKeeper Auto Install (USB)' {
    linux    /install.amd/vmlinuz \
             priority=critical \
             preseed/file=/preseed.cfg \
             preseed/interactive=false \
             debian-installer/locale=en_US.UTF-8 \
             keyboard-configuration/xkb-keymap=us \
             net.ifnames=0 biosdevname=0 \
             cdrom-detect/load_media=false \
             cdrom-detect/try-usb=true \
             cdrom-detect/cdrom-detect=false \
             anna/choose_modules=network-console,ethdetect,netcfg,choose-mirror,download-installer,preseed \
             hw-detect/load_firmware=false \
             quiet loglevel=3 ---
    initrd   /install.amd/initrd.gz
}

menuentry 'GateKeeper Install (Debug)' {
    linux    /install.amd/vmlinuz \
             priority=low \
             preseed/file=/preseed.cfg \
             net.ifnames=0 biosdevname=0 \
             cdrom-detect/load_media=false \
             cdrom-detect/try-usb=true \
             cdrom-detect/cdrom-detect=false ---
    initrd   /install.amd/initrd.gz
}
