# GateKeeper - 无人值守自动安装
default auto
prompt 0
timeout 1

label auto
    kernel /install.amd/vmlinuz
    append auto=true priority=critical preseed/file=/preseed.cfg preseed/interactive=false initrd=/install.amd/initrd.gz net.ifnames=0 biosdevname=0 cdrom-detect/try-usb=true cdrom-detect/cdrom-detect=false quiet loglevel=3 ---
